# Data Science I
### Klausur I im Sommersemester 2024

## Allgemeine Informationen

* Sie haben eine Woche Zeit, um die Klausur zu bearbeiten.

* Sie können alle Quellen verwenden, müssen sie jedoch korrekt benennen. Wenn Sie ChatGPT oder eine ähnliche Software verwenden, müssen Sie dies kenntlich machen und den verwendeten Prompt angeben.

* Sie sollten die folgenden Pakete verwenden: `numpy, pandas, scipy, geopy, scikit-learn/sklearn, matplotlib, seborn, openPyxl` und Pythons Standardlibraries. Diese sind ausreichend, um die Klausur zu lösen. Falls Sie andere Pakete verwenden, rechtfertigen Sie deren Verwendung.

* Der Code muss ausreichend kommentiert und verständlich sein. Schreiben Sie Funktionen beim Wiederverwenden von Code. Befolgen Sie im Allgemeinen die Richtlinien aus der Vorlesung. Punkte können aufgrund eines schlecht strukturierten oder unverständlichen Codes abgezogen werden.

* **Begründen Sie Entscheidungen** zur Auswahl von Plots, Hypothesentest usw. und **interpretieren Sie** Ihre Ergebnisse.

* Sie dürfen in keiner Form Hilfe oder Rat von Dritten in Anspruch nehmen.

* Bitte laden Sie Ihre vollständige Lösung der Klausur als `.zip`-Datei mit dem Dateinamen `vorname_matrikelnummer.zip` bis 8. August 2024 um 12:00 Uhr auf StudIP in den Ordner `Submission - Exam 1` hoch.

* Fügen Sie der `.zip` Datei auch die unterschriebene Eigenständigkeitserklärung hinzu.

* Wenn Sie Fragen haben, kontaktieren Sie uns bitte rechtzeitig über Rocketchat.

In [277]:
# IMPORT LIBRARIES
import numpy as np, pandas as pd, scipy, geopy, sklearn, matplotlib, seaborn, openpyxl, warnings, os 

warnings.filterwarnings("ignore", category=UserWarning, module='openpyxl')

#import numpy, pandas, scipy, geopy, sklearn, matplotlib, seaborn, openPyxl, scikit-learn

## Aufgaben und Punkte:

<table>
  <thead>
    <tr>
      <th colspan="3">Aufgabe 1 - Data Preprocessing</th>
      <th colspan="2">Aufgabe 2 - Plotting</th>
      <th colspan="2">Aufgabe 3 - Statistics</th>
      <th colspan="2">Aufgabe 4 - Machine Learning </th>
    </tr>
    <tr>
      <th>Aufgabe 1.1</th>
      <th>Aufgabe 1.2</th>
      <th>Aufgabe 1.3</th>
      <th>Aufgabe 2.1</th>
      <th>Aufgabe 2.2</th>
      <th>Aufgabe 3.1</th>
      <th>Aufgabe 3.2</th>
      <th>Aufgabe 4.1</th>
      <th>Aufgabe 4.2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>10 Punkte </td>
      <td>12 Punkte </td>
      <td>2 Punkte </td>
      <td>11 Punkte</td>
      <td>27 Punkte </td>
      <td>13 Punkte </td>
      <td>5 Punkte </td>
      <td>10 Punkte </td>
      <td>10 Punkte </td>
    </tr>
    <!-- Add more rows as needed -->
  </tbody>
</table>

_____
## Aufgabe 0: Setup

Der Klausurordner enthält ein `Dockerfile`, in dem alle relevanten Pakete definiert sind. Das `Dockerfile` baut auf dem Jupyter Server Image auf. Verwenden Sie dieses Dockerfile, um zuerst ein Docker Image zu erstellen und dann einen Docker Container von diesem Image zu starten. Benutzen Sie anschließend die Jupyter Server Instanz, um an der Klausur zu arbeiten. Wir empfehlen dringend, die Docker-Umgebung zu verwenden, um Versionskonflikte zwischen den verschiedenen Paketen zu vermeiden. Code, der in dieser Umgebung nicht ausführbar ist, wird als **nicht funktional** bewertet.

____
## Aufgabe 1: Data Preprocessing (24 Punkte)

### Datenbeschreibung

Im Ordner `data` finden Sie die monatlichen Parkdaten der Stadt Göttingen für das Jahr 2023 (Feb.-Dez.). Die Parkschein-Verkäufe an den stationären Parkscheinautomaten befinden sich in den Dateien, deren Namen mit `Cale` beginnt, und die mit der Parkster-App gekauften Parkscheine befinden sich in den Dateien, deren Namen mit `Parkster` beginnen.<br>
Die Datei `parkzone_latlong.csv` enthält weitere geografische Informationen zu den Parkzonen und die Datei `psa_latlong.csv` enthält geografische Informationen über die Parkscheinautomaten innerhalb der Parkzone.

Die bereitgestellten Parkdaten sind echte Rohdaten und stammen direkt von der Stadt Göttingen. Wir haben lediglich die geografischen Informationen hinzugefügt.

*Bitte beachten Sie:*
- *Obwohl wir nur Daten von Februar bis Dezember haben, bezeichnen wir diese im Folgenden als jährlich.*
- *Aufgrund der Größe der Daten sollten Sie Ihren Arbeitsspeicher effizient verwenden. Vermeiden Sie daher die Speicherung mehrerer Kopien desselben DataFrames.*

#### Aufagbe 1.1 - Laden der Daten (10 Punkte)
Laden Sie die Dateien für die Parkscheinautomaten (`Cale-*`) und für die App (`Parkster-*`) und fügen Sie diese **jeweils** zu einem Dataframe zusammen, der die jährlichen Verkäufe für Parkscheinautomaten und App beinhaltet. <br>
Laden Sie auch die weiteren Informationen zu den Parkscheinautomaten (`psa_latlong.csv`) und Parkzonen (` parkzones_latlong.csv`).

Sie werden die Werte `0` und `999` in der Spalte `Automaten -ID` für die Daten der Parkscheinautomaten finden. <br> Ändern Sie die `0`en in `1`en und löschen Sie alle Einträge mit `999`.
Überprüfen Sie auch auf Zeilen-Duplikate und löschen Sie diese gegebenenfalls.

In [278]:
# Load data for Parkscheinautomaten
print("automaten start")
automaten_files = list(filter(lambda x: x.startswith('Cale-'), os.listdir('data')))
length = 0
for file in automaten_files:
    app_df = pd.read_excel(f"data/{file}")
    length += len(app_df)
    print(f"Length of {file}: {len(app_df)}")
print(length)
#automaten_df = pd.concat([pd.read_excel(f"data/{file}", skiprows=2) for file in automaten_files])
#automaten_df = pd.concat([pd.read_excel(f"data/{file}") for file in automaten_files])
print("automaten finish\n----------------")

print(automaten_df)

automaten start
Length of Cale-Auswertung Ticketverkäufe Juni 2023.xlsx: 69897
Length of Cale-Auswertung Ticketverkäufe Dezember 2023.xlsx: 47730
Length of Cale-Auswertung Ticketverkäufe September 2023.xlsx: 64230
Length of Cale-Auswertung Ticketverkäufe Juli 2023.xlsx: 64572
Length of Cale-Auswertung Ticketverkäufe- März 2023.xlsx: 72712
Length of Cale-Auswertung Ticketverkäufe April 2023.xlsx: 65283
Length of Cale-Auswertung Ticketverkäufe- Februar 2023.xlsx: 68214
Length of Cale-Auswertung Ticketverkäufe Mai 2023.xlsx: 67475
Length of Cale-Auswertung Ticketverkäufe August 2023.xlsx: 68406
Length of Cale-Auswertung Ticketverkäufe Oktober 2023.xlsx: 59343
Length of Cale-Auswertung Ticketverkäufe November 2023.xlsx: 60730
708592
automaten finish
----------------
      Automat - Automaten ID Zahleinheit - Name     Knoten  \
0                         22              Münze  Göttingen
1                         18              Münze  Göttingen
2                         76              Münze  Göttingen
3                         67              Münze  Göttingen
4                         75              Münze  Göttingen
...                      ...                ...        ...
60723                     12              Münze  Göttingen
60724                     94              Münze  Göttingen
60725                     27              Münze  Göttingen
60726                     22              Münze  Göttingen
60727                     27              Münze  Göttingen

           Kaufdatum Lokal  Betrag Artikelname  Artikel ID Tarifpaket - Name  \
0      01.06.2023 00:24:24     6.0  Parkticket           0      Normalticket
1      01.06.2023 00:27:39     4.2  Parkticket           0      Normalticket
2      01.06.2023 00:36:00     1.0  Parkticket           0      Normalticket
3      01.06.2023 01:11:26     1.0  Parkticket           0      Normalticket
4      01.06.2023 02:17:35     3.5  Parkticket           0      Normalticket
...                    ...     ...         ...         ...               ...
60723  30.11.2023 21:36:45     7.0  Parkticket           0      Normalticket
60724  30.11.2023 22:36:37     7.0  Parkticket           0      Normalticket
60725  30.11.2023 22:51:12     5.0  Parkticket           0      Normalticket
60726  30.11.2023 22:53:03     5.3  Parkticket           0      Normalticket
60727  30.11.2023 23:19:09     4.0  Parkticket           0      Normalticket

       Maskierter PAN  Transaktionsreferenz  Ticket Nummer
0                 NaN                   NaN           4951
1                 NaN                   NaN           3650
2                 NaN                   NaN           4413
3                 NaN                   NaN            887
4                 NaN                   NaN           1699
...               ...                   ...            ...
60723             NaN                   NaN           3800
60724             NaN                   NaN           2773
60725             NaN                   NaN           1775
60726             NaN                   NaN            204
60727             NaN                   NaN           1776

[708568 rows x 11 columns]

In [279]:
# Load data for App
print("app start")
app_files = list(filter(lambda x: x.startswith('Parkster-'), os.listdir('data')))
# length = 0
# for file in app_files:
#     app_df = pd.read_excel(f"data/{file}")
#     length += len(app_df)
#     print(f"Length of {file}: {len(app_df)}")
app_df = pd.concat([pd.read_excel(f"data/{file}") for file in app_files])
print("app finish\n----------------")
# print(length)
print(app_df)

app start
app finish
----------------
       Parkzone             Erstellt                Start  \
0         37010  2023-02-28 08:00:27  2023-02-28 08:00:27
1         37010  2023-02-28 09:29:55  2023-02-28 09:29:55
2         37010  2023-02-28 15:18:57  2023-02-28 15:18:57
3         37005  2023-02-28 16:38:33  2023-02-28 16:38:33
4         37005  2023-02-28 16:45:17  2023-02-28 16:45:17
...         ...                  ...                  ...
32829     37108  2023-05-31 19:39:53  2023-05-31 19:39:53
32830     37204  2023-05-31 19:46:03  2023-05-31 19:46:03
32831     37104  2023-05-31 19:58:45  2023-05-31 19:58:45
32832     37001  2023-05-31 22:29:05  2023-05-31 22:29:05
32833     37001  2023-05-31 22:33:09  2023-05-31 22:33:09

                     Stopp Parkgebühren inkl. MwSt. in EUR     Status  \
0      2023-03-01 00:00:27                            4,00     normal
1      2023-03-01 09:29:55                            4,00     normal
2      2023-03-01 15:18:57                            4,00     normal
3      2023-03-01 10:20:00                            3,28     normal
4      2023-03-01 07:45:17                            1,57     normal
...                    ...                             ...        ...
32829  2023-05-31 20:17:27                             0.0     normal
32830  2023-05-31 19:52:59                             0.0     normal
32831  2023-05-31 23:43:53                             0.0     normal
32832  2023-05-31 22:29:38                             0.0  storniert
32833  2023-05-31 22:33:28                             0.0  storniert

      Parkscheinart  Zonencode Eigentümercode
0          Kurzzeit      37010
1          Kurzzeit      37010
2          Kurzzeit      37010
3          Kurzzeit      37005
4          Kurzzeit      37005
...             ...        ...            ...
32829      Kurzzeit      37108
32830      Kurzzeit      37204
32831      Kurzzeit      37104
32832      Kurzzeit      37001
32833      Kurzzeit      37001

[381307 rows x 9 columns]

In [280]:
# Load data for Parkscheinautomaten information
print("Parkscheinautomaten start")
psa_info_df = pd.read_csv('data/psa_latlong.csv')
print("Parkscheinautomaten finish\n----------------")
psa_info_df
psa_info_df.columns

Parkscheinautomaten start
Parkscheinautomaten finish
----------------

Index(['PSA', 'location', 'latitude', 'longitude', 'zone'], dtype='object')

In [281]:
# Load data for Parkzonen information
print("Parkzonen start")
parkzone_info_df = pd.read_csv('data/parkzones_latlong.csv')
print("Parkzonen finish\n----------------")

Parkzonen start
Parkzonen finish
----------------

In [282]:
print(automaten_df.columns)

Index(['Automat - Automaten ID', 'Zahleinheit - Name', 'Knoten',
       'Kaufdatum Lokal', 'Betrag', 'Artikelname', 'Artikel ID',
       'Tarifpaket - Name', 'Maskierter PAN', 'Transaktionsreferenz',
       'Ticket Nummer'],
      dtype='object')

In [283]:
automaten_df['Automat - Automaten ID'] = automaten_df['Automat - Automaten ID'].str.replace("PA", "").astype(int)

sorted_unique_values = sorted(automaten_df['Automat - Automaten ID'].unique())
print(sorted_unique_values)

[1, 2, 3, 4, 5, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 55, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 75, 76, 77, 79, 80, 81, 82, 83, 84, 85, 86, 88, 89, 90, 91, 92, 93, 94, 95, 97, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 119, 121, 122, 123, 124, 125, 126, 128, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362]

In [284]:

# Change 0s to 1s in Automaten -ID column
automaten_df['Automat - Automaten ID'] = automaten_df['Automat - Automaten ID'].replace(0, 1)
automaten_df = automaten_df[automaten_df['Automat - Automaten ID'] != 999]

# Check for and drop duplicate rows
automaten_df = automaten_df.drop_duplicates()
app_df = app_df.drop_duplicates()

In [285]:
print(automaten_df.columns)

print(app_df.columns)

Index(['Automat - Automaten ID', 'Zahleinheit - Name', 'Knoten',
       'Kaufdatum Lokal', 'Betrag', 'Artikelname', 'Artikel ID',
       'Tarifpaket - Name', 'Maskierter PAN', 'Transaktionsreferenz',
       'Ticket Nummer'],
      dtype='object')
Index(['Parkzone', 'Erstellt', 'Start', 'Stopp',
       'Parkgebühren inkl. MwSt. in EUR', 'Status', 'Parkscheinart',
       'Zonencode', 'Eigentümercode'],
      dtype='object')

#### Aufgabe 1.2 - Zusammenführen und Formatieren (12 Punkte)
Erstellen Sie einen DataFrame für beide Verkaufsarten, indem Sie die beiden zuvor erstellen DataFrames zusammenführen. Nutzen Sie dazu die Parkzonen Informationen *(in `parkzones_latlong.csv`)* und die Parkscheinautomatennummer *(in` pa_latlong.csv`)*. Stellen Sie sicher, dass sich in Ihrem DataFrame die geografischen Informationen für Parkscheinautomaten und Parkzonen befinden.
Verwenden Sie die Spalten `Kaufdatum Lokal` und `Start` für das Kaufdatum, codieren Sie die Spalte als `datetime`-Objekt und verwenden Sie sie als Indexspalte. Stellen Sie außerdem sicher, dass die anderen Spalten ein angemessenes Datenformat haben.

*Hinweis: Es ist zu erwarten, dass `Nan`-Werte für einige Spalten in den Zeilen zu Appkäufen auftauchen.*

In [286]:
data = {
    'time': 'datetime64[ns]',
    'machine_ID': pd.Int64Dtype(),
    'fee': 'float64',
    'category': 'object',
    'street': 'object',
    'latitude_machine': 'float64',
    'longitude_machine': 'float64',
    'zone': 'int64',
    'latitude_zone': 'float64',
    'longitude_zone': 'float64'}

df = pd.DataFrame(columns=data.keys()).astype(data)
df.set_index('time', inplace=True)

print(df)

Empty DataFrame
Columns: [machine_ID, fee, category, street, latitude_machine, longitude_machine, zone, latitude_zone, longitude_zone]
Index: []

In [287]:
automaten_df['Automat - Automaten ID'] = automaten_df['Automat - Automaten ID'].astype(str)
psa_info_df['PSA'] = psa_info_df['PSA'].astype(str)
merged_df = pd.merge(automaten_df, psa_info_df, left_on='Automat - Automaten ID', right_on='PSA', how='inner')

In [288]:
additional_df = pd.DataFrame({
    'time': pd.to_datetime(merged_df['Kaufdatum Lokal'], format='%d.%m.%Y %H:%M:%S'),
    'machine_ID': merged_df['Automat - Automaten ID'],
    'fee': merged_df['Betrag'],
    'category': 'machine',
    'street': merged_df['location'],
    'latitude_machine': merged_df['latitude'],
    'longitude_machine': merged_df['longitude'],
    'zone': merged_df['zone'],
    'latitude_zone': None,
    'longitude_zone': None
})

additional_df.set_index('time', inplace=True)

In [289]:
additional_df

,machine_ID,fee,category,street,latitude_machine,longitude_machine,zone,latitude_zone,longitude_zone
time,,,,,,,,,
2023-06-01 00:24:24,22,6.0,machine,Hospitalstraße / Nikolaistraße,51.530052,9.932900,37001,None,None
2023-06-01 00:27:39,18,4.2,machine,Goethe-Allee / Neustadt,51.534737,9.930044,37001,None,None
2023-06-01 00:36:00,76,1.0,machine,Neustadt,51.533328,9.929891,37001,None,None
2023-06-01 01:11:26,67,1.0,machine,Lotzestraße,51.528634,9.934190,37005,None,None
2023-06-01 02:17:35,75,3.5,machine,Geiststraße,51.534089,9.928669,37001,None,None
...,...,...,...,...,...,...,...,...,...
2023-11-30 21:36:45,12,7.0,machine,Theaterstraße,51.535157,9.938049,37001,None,None
2023-11-30 22:36:37,94,7.0,machine,Friedrichstraße,51.534008,9.938433,37001,None,None
2023-11-30 22:51:12,27,5.0,machine,Albanikirchhof,51.531921,9.942705,37001,None,None
2023-11-30 22:53:03,22,5.3,machine,Hospitalstraße / Nikolaistraße,51.530052,9.932900,37001,None,None
2023-11-30 23:19:09,27,4.0,machine,Albanikirchhof,51.531921,9.942705,37001,None,None

In [290]:
df = pd.concat([df, additional_df], ignore_index=False)

In [291]:
df

,machine_ID,fee,category,street,latitude_machine,longitude_machine,zone,latitude_zone,longitude_zone
time,,,,,,,,,
2023-06-01 00:24:24,22,6.0,machine,Hospitalstraße / Nikolaistraße,51.530052,9.932900,37001,None,None
2023-06-01 00:27:39,18,4.2,machine,Goethe-Allee / Neustadt,51.534737,9.930044,37001,None,None
2023-06-01 00:36:00,76,1.0,machine,Neustadt,51.533328,9.929891,37001,None,None
2023-06-01 01:11:26,67,1.0,machine,Lotzestraße,51.528634,9.934190,37005,None,None
2023-06-01 02:17:35,75,3.5,machine,Geiststraße,51.534089,9.928669,37001,None,None
...,...,...,...,...,...,...,...,...,...
2023-11-30 21:36:45,12,7.0,machine,Theaterstraße,51.535157,9.938049,37001,None,None
2023-11-30 22:36:37,94,7.0,machine,Friedrichstraße,51.534008,9.938433,37001,None,None
2023-11-30 22:51:12,27,5.0,machine,Albanikirchhof,51.531921,9.942705,37001,None,None
2023-11-30 22:53:03,22,5.3,machine,Hospitalstraße / Nikolaistraße,51.530052,9.932900,37001,None,None
2023-11-30 23:19:09,27,4.0,machine,Albanikirchhof,51.531921,9.942705,37001,None,None

In [292]:
automaten_merged_df = pd.merge(automaten_df, psa_info_df, left_on='Automat - Automaten ID', right_on='PSA')

automaten_merged_df

,Automat - Automaten ID,Zahleinheit - Name,Knoten,Kaufdatum Lokal,Betrag,Artikelname,Artikel ID,Tarifpaket - Name,Maskierter PAN,Transaktionsreferenz,Ticket Nummer,PSA,location,latitude,longitude,zone
0,22,Münze,Göttingen,01.06.2023 00:24:24,6.0,Parkticket,0,Normalticket,NaN,NaN,4951,22,Hospitalstraße / Nikolaistraße,51.530052,9.932900,37001
1,18,Münze,Göttingen,01.06.2023 00:27:39,4.2,Parkticket,0,Normalticket,NaN,NaN,3650,18,Goethe-Allee / Neustadt,51.534737,9.930044,37001
2,76,Münze,Göttingen,01.06.2023 00:36:00,1.0,Parkticket,0,Normalticket,NaN,NaN,4413,76,Neustadt,51.533328,9.929891,37001
3,67,Münze,Göttingen,01.06.2023 01:11:26,1.0,Parkticket,0,Normalticket,NaN,NaN,887,67,Lotzestraße,51.528634,9.934190,37005
4,75,Münze,Göttingen,01.06.2023 02:17:35,3.5,Parkticket,0,Normalticket,NaN,NaN,1699,75,Geiststraße,51.534089,9.928669,37001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
708563,12,Münze,Göttingen,30.11.2023 21:36:45,7.0,Parkticket,0,Normalticket,NaN,NaN,3800,12,Theaterstraße,51.535157,9.938049,37001
708564,94,Münze,Göttingen,30.11.2023 22:36:37,7.0,Parkticket,0,Normalticket,NaN,NaN,2773,94,Friedrichstraße,51.534008,9.938433,37001
708565,27,Münze,Göttingen,30.11.2023 22:51:12,5.0,Parkticket,0,Normalticket,NaN,NaN,1775,27,Albanikirchhof,51.531921,9.942705,37001
708566,22,Münze,Göttingen,30.11.2023 22:53:03,5.3,Parkticket,0,Normalticket,NaN,NaN,204,22,Hospitalstraße / Nikolaistraße,51.530052,9.932900,37001
708567,27,Münze,Göttingen,30.11.2023 23:19:09,4.0,Parkticket,0,Normalticket,NaN,NaN,1776,27,Albanikirchhof,51.531921,9.942705,37001

In [293]:
print(app_df.dtypes)
print(parkzone_info_df.dtypes)

Parkzone                            int64
Erstellt                           object
Start                              object
Stopp                              object
Parkgebühren inkl. MwSt. in EUR    object
Status                             object
Parkscheinart                      object
Zonencode                           int64
Eigentümercode                     object
dtype: object
latitude           float64
longitude          float64
Zonencode            int64
Bereich             object
Höchstparkdauer     object
dtype: object

In [294]:
merged_df = pd.merge(app_df, parkzone_info_df, left_on='Parkzone', right_on='Zonencode', how='inner')

merged_df

,Parkzone,Erstellt,Start,Stopp,Parkgebühren inkl. MwSt. in EUR,Status,Parkscheinart,Zonencode_x,Eigentümercode,latitude,longitude,Zonencode_y,Bereich,Höchstparkdauer
0,37010,2023-02-28 08:00:27,2023-02-28 08:00:27,2023-03-01 00:00:27,"4,00",normal,Kurzzeit,37010,,51.553603,9.942338,37010,"Parkzone II - Am Papenberg, Zimmermannstr.",Tagesticket
1,37010,2023-02-28 09:29:55,2023-02-28 09:29:55,2023-03-01 09:29:55,"4,00",normal,Kurzzeit,37010,,51.553603,9.942338,37010,"Parkzone II - Am Papenberg, Zimmermannstr.",Tagesticket
2,37010,2023-02-28 15:18:57,2023-02-28 15:18:57,2023-03-01 15:18:57,"4,00",normal,Kurzzeit,37010,,51.553603,9.942338,37010,"Parkzone II - Am Papenberg, Zimmermannstr.",Tagesticket
3,37005,2023-02-28 16:38:33,2023-02-28 16:38:33,2023-03-01 10:20:00,"3,28",normal,Kurzzeit,37005,,51.531270,9.936706,37005,Parkzone II - Straßenrandparkplätze,4 Stunden
4,37005,2023-02-28 16:45:17,2023-02-28 16:45:17,2023-03-01 07:45:17,"1,57",normal,Kurzzeit,37005,,51.531270,9.936706,37005,Parkzone II - Straßenrandparkplätze,4 Stunden
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381273,37108,2023-05-31 19:39:53,2023-05-31 19:39:53,2023-05-31 20:17:27,0.0,normal,Kurzzeit,37108,,51.536733,9.928201,37108,Parkzone I - Parkplatz Bahnhof Ost,1 Stunde
381274,37204,2023-05-31 19:46:03,2023-05-31 19:46:03,2023-05-31 19:52:59,0.0,normal,Kurzzeit,37204,,51.540630,9.935538,37204,Parkzone II - Parkplatz Platz der Göttinger Si...,8 Stunden
381275,37104,2023-05-31 19:58:45,2023-05-31 19:58:45,2023-05-31 23:43:53,0.0,normal,Kurzzeit,37104,,51.536634,9.932465,37104,Parkzone I - Parkplatz Reitstallstraße,4 Stunden
381276,37001,2023-05-31 22:29:05,2023-05-31 22:29:05,2023-05-31 22:29:38,0.0,storniert,Kurzzeit,37001,,51.534248,9.936501,37001,Parkzone I - Straßenrandparkplätze,4 Stunden
381277,37001,2023-05-31 22:33:09,2023-05-31 22:33:09,2023-05-31 22:33:28,0.0,storniert,Kurzzeit,37001,,51.534248,9.936501,37001,Parkzone I - Straßenrandparkplätze,4 Stunden

In [295]:
additional_df = pd.DataFrame({
    'time': pd.to_datetime(merged_df['Erstellt'], format='%Y-%m-%d %H:%M:%S'),
    'machine_ID': None,
    'fee': merged_df['Parkgebühren inkl. MwSt. in EUR'],
    'category': 'app',
    'street': None,
    'latitude_machine': None,
    'longitude_machine': None,
    'zone': merged_df['Parkzone'],
    'latitude_zone': merged_df['latitude'],
    'longitude_zone': merged_df['longitude']
})

additional_df.set_index('time', inplace=True)

In [296]:
df = pd.concat([df, additional_df], ignore_index=False)

/var/folders/41/npg4cjr50qqgztp8lxq5frbh0000gn/T/ipykernel_13934/2392023818.py:1: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, additional_df], ignore_index=False)

In [297]:
df

,machine_ID,fee,category,street,latitude_machine,longitude_machine,zone,latitude_zone,longitude_zone
time,,,,,,,,,
2023-06-01 00:24:24,22,6.0,machine,Hospitalstraße / Nikolaistraße,51.530052,9.932900,37001,NaN,NaN
2023-06-01 00:27:39,18,4.2,machine,Goethe-Allee / Neustadt,51.534737,9.930044,37001,NaN,NaN
2023-06-01 00:36:00,76,1.0,machine,Neustadt,51.533328,9.929891,37001,NaN,NaN
2023-06-01 01:11:26,67,1.0,machine,Lotzestraße,51.528634,9.934190,37005,NaN,NaN
2023-06-01 02:17:35,75,3.5,machine,Geiststraße,51.534089,9.928669,37001,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2023-05-31 19:39:53,None,0.0,app,None,NaN,NaN,37108,51.536733,9.928201
2023-05-31 19:46:03,None,0.0,app,None,NaN,NaN,37204,51.540630,9.935538
2023-05-31 19:58:45,None,0.0,app,None,NaN,NaN,37104,51.536634,9.932465
2023-05-31 22:29:05,None,0.0,app,None,NaN,NaN,37001,51.534248,9.936501
2023-05-31 22:33:09,None,0.0,app,None,NaN,NaN,37001,51.534248,9.936501

#### Aufgabe 1.3 - DataFrame Check (2 Punkte)
Der bereinigte und vollständige DataFrame für die folgenden Aufgaben sollte der Datei `data/clean_dataframe.csv` entsprechen, der wie folgt eingelesen werden kann:

In [298]:
df_compare = pd.read_csv('data/clean_dataframe.csv', parse_dates=['time'], index_col='time', dtype={
                                                                            #'time': 'datetime64[ns]', 
                                                                            'machine_ID': 'Int64', 
                                                                            'fee': 'float64', 
                                                                            'category': 'object', 
                                                                            'street': 'object', 
                                                                            'latitude_machine': 'float64', 
                                                                            'longitude_machine': 'float64', 
                                                                            'zone': 'int64', 
                                                                            'latitude_zone': 'float64', 
                                                                            'longitude_zone': 'float64'})

In [304]:
df_compare

,machine_ID,fee,category,street,latitude_machine,longitude_machine,zone,latitude_zone,longitude_zone
time,,,,,,,,,
2023-06-01 00:24:24,22,6.00,machine,Hospitalstraße / Nikolaistraße,51.530052,9.9329,37001,51.534248,9.936501
2023-06-01 07:55:05,22,1.70,machine,Hospitalstraße / Nikolaistraße,51.530052,9.9329,37001,51.534248,9.936501
2023-06-01 08:32:13,22,1.60,machine,Hospitalstraße / Nikolaistraße,51.530052,9.9329,37001,51.534248,9.936501
2023-06-01 08:57:03,22,1.70,machine,Hospitalstraße / Nikolaistraße,51.530052,9.9329,37001,51.534248,9.936501
2023-06-01 09:07:49,22,1.00,machine,Hospitalstraße / Nikolaistraße,51.530052,9.9329,37001,51.534248,9.936501
...,...,...,...,...,...,...,...,...,...
2023-05-09 16:56:17,<NA>,0.00,app,NaN,NaN,NaN,37209,51.528850,9.936085
2023-05-20 11:26:25,<NA>,1.09,app,NaN,NaN,NaN,37209,51.528850,9.936085
2023-05-23 10:11:27,<NA>,0.00,app,NaN,NaN,NaN,37209,51.528850,9.936085
2023-05-24 15:56:01,<NA>,0.00,app,NaN,NaN,NaN,37209,51.528850,9.936085
2023-05-27 10:28:19,<NA>,0.50,app,NaN,NaN,NaN,37209,51.528850,9.936085

In [300]:
df_compare.dtypes

machine_ID             Int64
fee                  float64
category              object
street                object
latitude_machine     float64
longitude_machine    float64
zone                   int64
latitude_zone        float64
longitude_zone       float64
dtype: object

In [301]:
df.dtypes

machine_ID            object
fee                   object
category              object
street                object
latitude_machine     float64
longitude_machine    float64
zone                   int64
latitude_zone        float64
longitude_zone       float64
dtype: object

In [303]:
# Unterschiede anzeigen
diff_df = df.reset_index().drop_duplicates(keep=False)

# Ergebnis anzeigen
print(diff_df)

                       time machine_ID  fee category  \
0       2023-06-01 00:24:24         22  6.0  machine
1       2023-06-01 00:27:39         18  4.2  machine
2       2023-06-01 00:36:00         76  1.0  machine
3       2023-06-01 01:11:26         67  1.0  machine
4       2023-06-01 02:17:35         75  3.5  machine
...                     ...        ...  ...      ...
1089841 2023-05-31 19:39:53       None  0.0      app
1089842 2023-05-31 19:46:03       None  0.0      app
1089843 2023-05-31 19:58:45       None  0.0      app
1089844 2023-05-31 22:29:05       None  0.0      app
1089845 2023-05-31 22:33:09       None  0.0      app

                                 street  latitude_machine  longitude_machine  \
0        Hospitalstraße / Nikolaistraße         51.530052           9.932900
1               Goethe-Allee / Neustadt         51.534737           9.930044
2                              Neustadt         51.533328           9.929891
3                           Lotzestraße         51.528634           9.934190
4                           Geiststraße         51.534089           9.928669
...                                 ...               ...                ...
1089841                            None               NaN                NaN
1089842                            None               NaN                NaN
1089843                            None               NaN                NaN
1089844                            None               NaN                NaN
1089845                            None               NaN                NaN

          zone  latitude_zone  longitude_zone
0        37001            NaN             NaN
1        37001            NaN             NaN
2        37001            NaN             NaN
3        37005            NaN             NaN
4        37001            NaN             NaN
...        ...            ...             ...
1089841  37108      51.536733        9.928201
1089842  37204      51.540630        9.935538
1089843  37104      51.536634        9.932465
1089844  37001      51.534248        9.936501
1089845  37001      51.534248        9.936501

[1089688 rows x 10 columns]

Stellen Sie sicher, dass Ihr DataFrame mit `clean_dataframe.csv` übereinstimmt. Verwenden Sie dazu die Funktion [`pandas.DataFrame.equals`](https://pandas.pydata.org/docs/reference/api/pandas.dataframe.equals.html).

Sollte `pandas.DataFrame.equals` nach Ihren Anpassungen nicht `True` zurückgeben, arbeiten Sie bitte mit `clean_dataframe.csv` weiter und geben Sie dies in einer Markdown-Zelle an. In diesem Fall erhalten Sie keine Punkte für die Teilaufgabe 1.3.

_____
## Aufgabe 2: Plotting (38 Punkte)

### Aufgabe 2.1 - Analyse der Parkscheinautomaten (11 Punkte)
Die Stadt Göttingen möchte einen Überblick über die Umsätze der einzelnen **Parkscheinautomaten** erhalten und stellt Sie für eine anfängliche explorative Analyse des Verkaufsvolumens und der geografischen Anordnung der Automaten ein.

#### 2.1.1 (6 Punkte)
Finden Sie die fünf umsatzstärksten Parkscheinautomaten im Jahr 2023 und visualisieren Sie den **wöchentlichen** Umsatz im Laufe des Jahres.

#### 2.1.2 (5 Punkte)
Der Standort der Parkscheinautomaten könnte auch einen Einfluss auf deren Umsatz haben.

Machen Sie sich mit der Funktion `plot_map` aus der Bibliothek `dsplotter` vertraut. Verwenden Sie die Funktion, um den jährlichen Umsatz für jeden Automaten auf einer Karte zu visualisieren. Machen Sie die Farbe **und** den Radius der Standortmarkierung abhängig vom jährlichen Umsatz. Was haben Automaten mit einem hohen jährlichen Umsatz gemeinsam?

### Aufgabe 2.2 - Analyse der Automaten- und Appnutzung pro Parkzone (27 Punkte)
Im Rahmen der Digitalisierungsinitiative der Stadt wurde die Parkster-App vor einigen Jahren als Alternative zu Parkscheinautomaten eingeführt.
Bisher wurden nur die Parkscheinautomaten in die Analyse eingeschlossen und daher einen Großteil des Ticketverkaufs, der über die App stattfand, nicht beachtet.

Die Stadt möchte für 2023 eine erste visuelle Analyse der Akzeptanz der App in den einzelnen Parkzonen durchführen und anschließend den gesamten Umsatz analysieren.

*Hinweis: Beachten Sie, dass wir die Umsätze aus der Appnutzung nur einschließen können, indem wir die Gesamtauswertung auf Ebene der Parkzonen durchführen.*

#### 2.2.1 (6 Punkte)
Bevorzugen Parkende die App- oder die Parkscheinautomatennutzung? 

Verwenden Sie einen geeigneten Plot, um die durchschnittliche Automaten- bzw. Appnutzungsrate pro **Parkzone** für das gesamte Jahr 2023 zu visualisieren. Was können Sie dem Plot entnehmen?

#### 2.2.2 (9 Punkte)
Wie stark werden die einzelnen Parkzonen genutzt? 

Visualisieren Sie die Gesamtzahl der Verkäufe und die Automaten- bzw. Appnutzungrate für jede Parkzone im Jahr 2023 **in einem Diagramm**. Verwenden Sie für die y-Achse eine `log`-Skalierung. Was können Sie dem Plot entnehmen?

#### 2.2.3 (7 Punkte)
Der vorherige Plot gibt uns eine Vorstellung von der Gesamtzahl der Parktickets *pro Parkzone*. Diese korreliert sehr wahrscheinlich stark mit der Anzahl der Parkplätze pro Zone. Um Parkzonen mit einer unterschiedlichen Anzahl an Parkplätzen zu vergleichen, sollten wir diese mithilfe der Anzahl der verfügbaren Parkplätze je Zone relativieren. Auf diese Weise können wir herausfinden, welche Zonen, relativ zu ihrer Größe, am häufigsten verwendet werden. Da wir nicht die Anzahl der Parkplätze für jede Zone zur Verfügung haben, können wir nur die Anzahl der Parkscheinautomaten als grobe Annäherung verwenden. 

Verwenden Sie die Informationen aus `psa_latlong.csv` und reproduzieren Sie den vorherigen mit Plot der Gesamtzahl der Verkäufe pro Automat für jede Parkzone. Verwenden Sie für die y-Achse eine `log`-Skalierung. Welche Parkzone wird am meisten genutzt?

#### 2.2.4 (5 Punkte)
Bisher haben wir die geografischen Informationen der Parkzonen nicht mit einbezogen. 

Verwenden Sie erneut die Funktion `plot_map`, um den Standort aller Parkzonen, ihre durchschnittlichen Tickets pro Automat und die Automaten- bzw. Appnutzungsrate zu visualieren. Färben Sie den Kartenmarker mithilfe der Automaten- bzw. Appnutzungsrate und legen Sie den Radius mit den durschnittlich verkauften Tickets pro Automat fest. Was können Sie der Darstellung entnehmen?

___
## Aufgabe 3: Statistics (18 Punkte)

#### Aufgabe 3.1 - t-Test (13 Punkte)
Zusätzlich zu der visuellen Analyse möchte die Stadt nun auch eine statistische Untersuchung der Verwendung von Parkscheinautomaten und Apps durchführen.

Bestimmen Sie dazu zunächst die Automaten- bzw. Appnutzungsrate pro Parkzone für jeden Kalendertag. Führen Sie anschließend für **jede Parkzone** einen t-Test durch, der testet, ob Parkende es vorziehen die App in der jeweiligen Zone zu verwenden. Schreiben Sie das entsprechende Hypothesenpaar auf, führen Sie den Test durch und interpretieren Sie Ihre Testergebnisse. Verwenden Sie für Ihre Testentscheidung ein Signifikanzniveau von 0.05. Welche grundlegende Annahme von statistischen Tests könnte bei diesem Vorgehen verletzt werden?

#### Aufgabe 3.2 - Statistisches Verständnis (5 Punkte)
Angenommen, für die Zone `37106` beträgt die durchschnittliche Automaten- bzw. Appnutzungsrate `0.5`.
Die Stadt sendet Ihnen die Daten für 2024. 

An wie vielen Tagen können Sie erwarten, dass die Appnutzung signifikant höher ist, wenn Sie weiterhin von einem Signifikanzniveau von `0.05` ausgehen? Erklären Sie, warum dies der Fall ist. Nehmen Sie an, dass sich das Verhalten der Parkenden im Vergleich zu 2023 nicht geändert hat.

___
## Aufgabe 4: Machine Learning (20 Punkte)

Nutzen Sie ein K-Nearest-Neighbors (KNN) Modell, um die Automaten- bzw. Appnutzungsrate mithilfe des Standortes (`latitude`, `longitude`) und der Parkgebühr (`fee`) vorherzusagen. Verwenden Sie ausschließlich Datenreihen mit Parkgebühren zwischen 2 Euro und 7 Euro.

#### Aufgabe 4.1 - Modell-Training and Hyperparameter-Suche (10 Punkte)
Bereiten Sie die Daten sinnvoll auf, führen Sie eine Hyperparameter-Suche nach optimalem K-Wert aus, visualisieren Sie die Ergebnisse der Hyperparameter-Suche und verwenden Sie schließlich Ihren optimalen K-Wert, um das Modell zu trainieren.

*Hinweis: Verwenden Sie 30% aller Daten zur Bestimmung des optimalen K-Wertes, um die Hyperparameter-Suche zu beschleunigen, und den gesamten Datensatz für das Modell-Training.*

#### Aufgabe 4.2 - Visualisierung der Modell-Vorhersage (10 Punkte)
Erstellen Sie ein `100 x 100` Grid aus Längen-/Breitengradwerten unter Verwendung der minimalen und maximalen Werte in Ihrem Datensatz. Visualisieren Sie die Vorhersagen des KNN-Modells **für drei verschiedene Parkgebühren** - 3, 5 und 7 Euro. Verwenden Sie dazu die Funktion `plot_map`. Färben Sie den Marker entsprechend der Modell-Vorhersage. Beschreiben Sie mindestens 2 visuelle Veränderungen des vorhergesagten Nutzungsmusters auf der Karte.